/*
	Breadcrumb
*/
.pt-breadcrumb{
	background:$breadcrumb_bg;
	line-height: 22px;
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: center;
		align-items: center;
		li{
			font-size: 12px;
			padding: 4px 6px 4px 11px;
			position: relative;
			color: $breadcrumb_text;
			a{
				color:$breadcrumb_link;
				transition: color $speed;
			}
			a:hover{
				color:$breadcrumb_link_hover;
			}
		}
		li:not(:first-child):before{
			content: '/';
			position: absolute;
			display: inline-block;
			left:0;
			top: 4px;
		}
		li:first-child{
			padding-left: 0;
		}
	}
	@media (min-width: 1025px){
		.container-fluid{
			padding-left: 50px;
			padding-right: 50px;
		}
	}
	@media (max-width: 1024px) {
		&{
			padding-left: 2px;
			padding-right: 2px;
		}
	}
}
