/*
	footer mobile begin < 789px
*/
footer{
	overflow: hidden;
	font-size: 14px;
	line-height: 20px;
	&:not(.footer-wrapper-none){
		background-color: $default_color5;
	}
	.footer-wrapper-none{
		background-color: transparent;
	}
	&:not([class^="pt-offset"]){
		@media (min-width: 1025px){
			margin-top: 100px;
		}
		@media (max-width: 1024px) and (min-width: 576px){
			margin-top: 73px;
		}
		@media (max-width: 575px){
			margin-top: 48px;
		}
	}
	@media (min-width: 791px){
		&:not(.pt-inner-small):not(.pt-inner-large){
			padding:97px 0 74px 0;
		}
		&.pt-inner-small{
			padding:39px 0 41px 0;
		}
		 &.pt-inner-large{
			padding:91px 0 41px 0;
		}
	}
	@media (max-width: 790px){
		padding:42px 0 36px 0;
	}
	/*
		footer desctope
	*/
	// pt-footer-col
	.pt-footer-col{
		@media (min-width: 791px){
			margin-top: -55px;
			[class^="col-"]{
				margin-top: 55px;
				.pt-social-box{
					margin-top: 24px;
				}
				.pt-footer-title + *{
					margin-top: 0;
				}
				.pt-footer-title + .newsletterform-01{
					margin-top: 6px;
				}
				.pt-newsletterform-row{
					display: flex;
					justify-content: flex-start;
					align-content: center;
					@media (min-width: 1025px){
						flex-direction: row;
						flex-wrap: nowrap;
						align-items: center;
						.pt-footer-title{
							margin-top: 4px;
							margin-right: 43px;
							padding-bottom: 0;
							white-space: nowrap;
						}
					}
					@media (max-width: 1024px){
						flex-direction: column;
						flex-wrap: wrap;
						align-items: flex-start;
					}
					form{
						width: 100%;
					}
					.newsletterform-01{
						margin-top: 2px;
						.pt-btn-icon{
							top: 3px;
						}
					}
				}
				> *:nth-child(1){
					margin-top: 0;
				}
				.pt-text-info{
					font-size: 16px;
					line-height: 23px;
				}
				.pt-logo-alignment{
					position: relative;
					top:3px;
				}
				.pt-logo{
					padding-bottom: 3px;
					font-size: 26px;
					line-height: 31px;
					color: $default_color2;
					font-weight: 800;
				}
				.pt-logo + .pt-text-info{
					margin-top: 16px;
				}
			}
		}
		@media (max-width: 790px){
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-content: flex-start;
			align-items: flex-start;
			.pt-mobile-offsetdown{
				-webkit-order: 4;
				-ms-flex-order: 4;
				order: 4;
			}
			[class^="col-"]{
				.pt-logo{
					font-size: 26px;
					line-height: 31px;
					color: $default_title_color;
					font-weight: 800;
				}
				.pt-logo + .pt-text-info{
					margin-top: 16px;
				}
			}
		}
	}
	.pt-footer-center{
		@media (min-width: 791px){
			text-align: center;
			.pt-wrapper-center{
				max-width: 570px;
				margin: 0 auto;
				&:nth-child(1){
					margin-top: 0;
				}
			}
			.row{
				justify-content: center;
			}
			.pt-social-box{
				justify-content: center;
			}
			[class^="col-"]{
				&:not(:first-child){
					margin-top: 35px;
				}
			}
		}

	}
	// pt-footer-custom
	.pt-footer-custom{
		@media (min-width: 791px){
			&:not(:nth-child(1)){
				&:not(.text-center){
					margin-top: 82px;
				}
				&.text-center{
					margin-top: 51px;
				}
			}
			&:not(.text-center){
				[class^="col-"]{
					.pt-social-box{
						margin-top: 29px;
						margin-bottom: -5px;
					}
					.pt-payment-list{
						margin-top: 8px;
					}
					> *:nth-child(1){
						margin-top: 0;
						&.pt-payment-list{
							margin-top: -6px;
						}
					}
					&:not(:first-child){
						margin-top: 12px;
					}
				}
			}
			&.text-center{
				[class^="col-"]{
					text-align: center;
					&:not(:first-child){
						margin-top: 23px;
					}
				}
			}
		}
		@media (min-width: 1025px){
			[class^="col-"]{
				&.col-lg-auto{
					margin-top: 0;
				}
			}
		}
		@media (max-width: 790px){
			[class^="col-"]{
				&:not(:first-child){
					margin-top: 12px;
				}
			}
			&.text-center{
				text-align: left !important;
			}
		}
	}
	// footer obj
	.pt-footer-title{
		font-size: 18px;
		line-height: 26px;
		color: #333333;
		padding:0 0 18px 0;
		position: relative;
	}
	.pt-footer-title + .newsletterform-01{
		margin-top: 6px;
	}
	.pt-list{
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		li{
			a{
				display: inline-block;
				padding:5px 0;
				font-size: 16px;
				line-height: 1.35;
				color: $default_text_color;
				transition: color $speed;
				&:hover{
					color: $default_color;
				}
			}
			&:first-child{
				a{
					padding-top: 0;
				}
			}
			&:last-child{
				a{
					padding-bottom: 0;
				}
			}
			&.active{
				a{
					color: $default_color;
				}
			}
		}
	}
	.pt-payment-list{
		list-style: none;
		padding: 0;
		margin: 0;
		@media (min-width: 411px){
			display: inline-flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-content: stretch;
			align-items: center;
			margin-left: -15px;
			margin-top: -15px;
			li{
				margin-left: 15px;
				margin-top: 15px;
			}
		}
		@media (max-width: 410px){
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-content: flex-start;
			align-items: center;
			margin-top: -5px;
			margin-left: -3px;
			li{
				padding-left: 3px;
				padding-right: 3px;
				svg{
					width: 88%;
				}
			}
		}
	}
	.pt-address{
		margin-top: -1px;
		font-size: 16px;
		line-height: 23px;
		p{
			&:first-child{
				margin-top: 0;
			}
			&:not(:first-child){
				margin-top: 26px;
			}
		}
	}
	.pt-box-copyright{
		a{
			position: relative;
			display: inline-block;
			color:$default_color2;
			&:before{
				position: absolute;
				bottom: 3px;
				left: 0;
				right: 0;
				margin: auto;
				width: 0%;
				content: '';
				color: transparent;
				background-color: $default_color2;
				height: 1px;
				transition: width 0.2s linear;
			}
			&:hover{
				&:before{
					width: 100%;
				}
			}
		}
	}
	.newsletterform-01{
		.form-group{
			position: relative;
			margin: 0;
			padding: 0;
			.pt-input{
				border-radius: 0;
				width: 100%;
				height: 44px;
				font-size: 16px;
				line-height: 25px;
				font-weight: 800;
				padding:3px 49px 3px 18px;
				background: #ffffff;
				border: 1px solid #ebebeb;
				box-shadow: 0px 2px 12px rgba(51, 51, 51, 0);
				transition: all $speed;
				&:focus{
					outline: none;
					border-color: transparent;
					box-shadow: 0px 2px 12px rgba(51, 51, 51, 0.08);
				}
			}
			::-webkit-input-placeholder:not(focus){color:$default_text_color;}
			::-moz-placeholder:not(focus)      {color:$default_text_color;}
			:-moz-placeholder:not(focus)       {color:$default_text_color;}
			:-ms-input-placeholder:not(focus)  {color:$default_text_color;}
			.pt-btn-icon{
				position: absolute;
				right: 0;
				top: 0;
				border: none;
				background: none;
				outline:none;
				cursor: pointer;
				width: 45px;
				height: 44px;
				color: $default_color2;
				transition: color $speed linear;
				.pt-icon{
					position: relative;
					top: 2px;
					right: 1px;
				}
				&:hover{
					color: $default_color;
				}
			}
		}
		p{
			margin-top: 13px;
		}
		label.error{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-content: stretch;
			align-items: center;
			position: absolute;
			top: 56px;
			left: 0;
			padding: 8px 12px 6px;
			background: red;
			color: #ffffff;
			font-size: 14px;
			line-height: 22px;
			z-index: 1;
			&:after{
				content: '';
				position: absolute;
				top: -12px;
				left: 50%;
				border: 6px solid transparent;
				border-bottom: 6px solid #f8353e;
			}
		}
	}
	.pt-social-box{
		display: inline-flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: center;
		align-items: center;
		.pt-social-box-title{
			font-size: 18px;
			line-height: 26px;
			color: $default_color2;
			font-weight: 800;
		}
		.pt-social-box-title + .pt-social-box-icon{
			padding-left: 17px;
		}
		.pt-social-box-icon{
			display: inline-flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-content: flex-start;
			align-items: flex-start;
			list-style: none;
			padding: 0;
			margin: 0;
			position: relative;
			margin-top: -5px;
			margin-bottom: -5px;
			li{
				a{
					padding: 7px 10px 4px;
					display: inline-block;
					color: $default_color3;
					transition: color $speed linear;
					&:hover{
						color: $default_color2;
					}
				}
				&:first-child{
					a{
						padding-left: 0;
					}
				}
				&:last-child{
					a{
						padding-right: 0;
					}
				}
			}
		}
	}
	.pt-mobile-collapse{
		@media (min-width: 791px){
			.pt-collapse-content{
				display: block !important;
			}
			.pt-collapse-title{
				.pt-icon{
					display: none;
				}
			}
		}
	}
	.pt-width-limit{
		max-width: 614px;
		margin-left: auto;
		margin-right: auto;
	}
	/*
		footer mobile
	*/
	@media (max-width: 790px){
		padding-top: 36px;
		.container{
			padding-left: 20px;
			padding-right: 20px;
		}
		.pt-footer-title{
			padding-bottom: 0px;
		}
		.pt-mobile-collapse{
			padding-bottom: 29px;
			.pt-collapse-title{
				cursor: pointer;
				.pt-icon{
					position: absolute;
					top: 0;
					right: 0;
					color: $default_color3;
					transition-duration: 0.4s;
					transform: rotate(45deg);
					transition-property: transform;
					will-change: transform;
					svg{
						width: 16px;
						height: 16px;
					}
				}
				&.pt-open{
					.pt-icon{
						transform: rotate(0deg);
						transition-property: transform;
						will-change: transform;
					}
				}
			}
			.pt-collapse-content{
				display: none;
				> *:not(.pt-address){
					margin-top: 27px;
				}
				> .pt-address{
					margin-top: 24px;
					padding-bottom: 3px;
					p:not(:first-child){
						margin-top: 16px;
					}
				}
			}
		}
		.pt-footer-title:not(.pt-collapse-title){
			padding-bottom: 22px;
		}
		.pt-footer-custom{
			margin-top: 32px;
			[class^="col-"]{
				.pt-social-box{
					margin-top: 24px;
				}
				.pt-payment-list{
					margin-top: 18px;
				}
				> *:nth-child(1){
					margin-top: 0;
				}
			}
		}
		.pt-social-box{
			margin-top: 47px;
			.pt-social-box-title + .pt-social-box-icon{
				padding-left: 36px;
			}
			.pt-social-box-icon{
				li{
					a{
						padding-left: 20px;
						padding-right: 20px;
					}
				}
			}
		}
		.newsletterform-01{
			.form-group{
				.pt-input{
					font-size: 16px;
				}
				.pt-btn-icon{
					text-align: left;
					width: 49px;
				}
			}
		}
		.pt-list{
			li{
				a{
					padding: 9px 0;
				}
			}
		}
	}
	.pt-footer-custom{
		[class^="col-"]{
			> .pt-payment-list:nth-child(1){
				margin-top: -4px;
			}
		}
	}
	@media (max-width: 410px){
		.pt-footer-custom{
			[class^="col-"]{
				> .pt-payment-list:nth-child(1){
					margin-top: 5px;
				}
			}
		}
	}
}
