.addthis_inline_share_toolbox{
	margin-left: -4px;
	margin-top: 2px;
	.at-style-responsive{
		.at-share-btn{
			padding: 1px;
		}
	}
	.at-label{
		display: none;
	}
	.at-resp-share-element .at-share-btn{
		margin-top: 4px;
		margin-left: 4px;
		border-radius:2px !important;
	}
}